FreeLancQuake3/src/main/resources/static/items.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed Jan 24 2018 21:35:48 GMT+0330 (Iran Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="items">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="item" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="id" type="xs:int"></xs:element>
                                             <xs:element name="reg1" type="xs:string"></xs:element>
                                             <xs:element name="dis1" type="xs:int"></xs:element>
                                             <xs:element name="reg2" type="xs:string"></xs:element>
                                             <xs:element name="dis2" type="xs:int"></xs:element>
                                             <xs:element name="reg3" type="xs:string"></xs:element>
                                             <xs:element name="dis3" type="xs:int"></xs:element>
                                             <xs:element name="mag" type="xs:int"></xs:element>
                                             <xs:element name="dep" type="xs:int"></xs:element>
                                             <xs:element name="long" type="xs:string"></xs:element>
                                             <xs:element name="lat" type="xs:string"></xs:element>
                                             <xs:element name="date" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
 